<!DOCTYPE html> 
<html> 
    <head>
        <ul class="nav flex-row">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        </ul>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  </head>
  
<body style="text-align:center;">   
    <h1 style="color:rgb(0, 128, 128);">EXAM DETAILS</h1>
      
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
       
          
        <!-- <input type="number" name="exam_id" placeholder="exam_id" class="field"><br /><br /> -->
        <input type="text" name = "exam_name" placeholder="exam_name" class="field"> <br /><br />
        <!-- Exam Year: <input type="date" name="exam_year" placeholder="exam_year" class="field"><br /><br /> -->
        
        <!-- Registration Date <input type="datetime-local" name="reg_date_time" placeholder="reg_date_time" class="field"><br /><br /> -->
        <input type="file" name="images" multiple>

        <br /><br />
             
        <button type="submit" class="btn">Add Exam</button> 
    </form>

</body> 
  
</html> 